chrome/
firefox/
node_modules/
versions/
index.html
package.json
prod.js
sprite_a.png
build/Release
.npm
.next
out
.env*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
logs
*.log
npm-debug.log*
pnpm*
amazon-backup
*.html
package-lock.json